<nav id="nav" class="transparent">
  <div id="horizontal" class="nav-wrapper container">
      <ul id="horizontal" class="hide-on-med-and-down">
        <li><a id="horizontalText" href="#!">Agenda</a></li>
        <li><a id="horizontalText" href="#!">Directions</a></li>
        <li><a id="horizontalText" href="#!">Map</a></li>
      </ul>
  </div>
  <!-- Dropdown Structure -->
  <ul id="dropdown-content" class="side-nav side-nav-menu show-on-med-and-down">
    <li><a id="dropdownText" href="#!">Agenda</a></li>
    <li class="divider"></li>
    <li><a id="dropdownText" href="#!">Map</a></li>
    <li class="divider"></li>
    <li><a id="dropdownText" href="#!">Directions</a></li>
  </ul>
  <!-- Dropdown Trigger -->
  <a id="menuIcon" class="button-collapse show-on-med-and-down" href="#!" data-activates="dropdown-content"><i class="left transparent material-icons">menu</i></a>
</nav>
