#main-container {
  width: 95%;
  height: 100%;
}

#title-text {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 80px;
  font-family: "CallingAngelsPersonalUse";
  text-shadow: 4px 4px 12px #fff;
}

#date-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 45px;
  font-family: "Strawberry_Whipped_Cream";
  text-shadow: 2px 2px 2px #fff;
}

#title-text-small {
  margin-top: 10px;
  margin-bottom: -15px;
  font-size: 15vw;
  font-family: "CallingAngelsPersonalUse";
  text-shadow: 4px 4px 6px #fff;
}

#date-text-small {
  margin-top: 0px;
  margin-bottom: -15px;
  font-size: 12vw;
  font-family: "Strawberry_Whipped_Cream";
  text-shadow: 2px 2px 4px #fff;
}

#modal-title {
  font-family: "Strawberry_Whipped_Cream";
}

#card-title {
  font-family: "OpenSans-Regular";
  left: -10px;
  bottom: -20px;
}

#button {
  font-family: "OpenSans-Regular";
  margin-top: 10px;
  margin-bottom: -15px;
}
