#main-container {
  overflow: hidden;
  height: 100%;
  width: 95%;
}

#title-text {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 80px;
  color: black;
  font-family: "CallingAngelsPersonalUse";
  text-shadow: 4px 6px 12px #fff;
}

#date-text {
  margin-top: -20px;
  margin-bottom: 0px;
  font-size: 45px;
  color: black;
  font-family: "Strawberry_Whipped_Cream";
  text-shadow: 2px 4px 6px #fff;
}

#title-row {
  margin-bottom: 40px;
}

#title-text-small {
  background:inherit;
  margin-top: 10px;
  margin-bottom: -15px;
  font-size: 12vw;
  color: black;
  font-family: "CallingAngelsPersonalUse";
  text-shadow: 4px 6px 12px #fff;
}

#date-text-small {
  background:inherit;
  margin-top: 0px;
  margin-bottom: -15px;
  font-size: 10vw;
  color: black;
  font-family: "Strawberry_Whipped_Cream";
  text-shadow: 2px 4px 6px #fff;
}

#title-row-small {
  right: 0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

#title-container-small {
  background:inherit;
  width: 100%;
}

@media screen and (max-width: 479px) {
  #card-row {
    top: 147px;
    position: relative;
    overflow: scroll;
    height: 65%;
  }
  #card-title {
    font-family: "CallingAngelsPersonalUse";
    font-size: 30px;
    left: -5px;
    bottom: -20px;
  }
}

@media screen and (max-width: 768px) {
  #card-row {
    vertical-align: middle;
    position: relative;
    overflow: scroll;
    height: 75%;
  }
  #card-title {
    font-family: "CallingAngelsPersonalUse";
    font-size: 30px;
    left: -5px;
    bottom: -20px;
  }
}

@media only screen and (min-width: 769px){
  #card-row {
    vertical-align: middle;
    position: relative;
    overflow: scroll;
    height: 65%;
  }
  #card-title {
    font-family: "CallingAngelsPersonalUse";
    font-size: 30px;
    left: 0px;
    bottom: -20px;
  }
}

@media only screen and (min-width: 1023px){
  #card-row {
    vertical-align: middle;
    position: relative;
    overflow: scroll;
    height: 75%;
  }
  #card-title {
    font-family: "CallingAngelsPersonalUse";
    font-size: 30px;
    left: 0px;
    bottom: -20px;
  }
}

@media only screen and (min-width: 1200px){
  #card-row {
    vertical-align: middle;
    position: relative;
    overflow: scroll;
    height: 65%;
  }
  #card-title {
    font-family: "CallingAngelsPersonalUse";
    font-size: 30px;
    left: -5px;
    bottom: -20px;
  }
}

#modal-title {
  margin-top: 20px;
  margin-left: 10px;
  font-family: "CallingAngelsPersonalUse";
  font-size: 28px;
}

#modal-text {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "DancingScript-Regular";
  font-size: 25px;
}

#small-card-title {
  font-family: "CallingAngelsPersonalUse";
  font-size: 30px;
  left: 0px;
  bottom: -20px;
  color: black;
}

#button {
  font-family: "DancingScript-Regular";
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: -15px;
}

#close-modal-button {
  font-family: "DancingScript-Regular";
  font-size: 25px;
}

.center {
  text-align: center;
}

#map {
  width: 100vw;
  height: 400px;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

#map-modal {
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  min-height:  90%!important;
  bottom: 10%;
}

.overlay {
  background: transparent;
  position: relative;
  width: 100%;
  height: 300px;
  top: 300px;
  margin-top: -300px;
}

#map-image {
  width: 100%;
  height: auto;
}

.modal {
  position: fixed;
  left:0;
  right:0;
  max-height:auto;
  height: auto;
  width: 99%;
  margin: auto;
  background-image: url("/assets/petals1.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: left top;
}

.modal-content {
  height: auto;
  padding:0;
  overflow: auto;
  padding: 10px;
}

.modal-footer {
  bottom: 0px;
  overflow-y: scroll;
}

@media print {
  #overlay, #close-modal-button, #print-button * {
    display: none !important;
  }
  #map-modal * {
    visibility: visible;
  }
  #map-modal, #map-modal {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: visible!important;
    display: block;
  }
}
