#main-container {
  overflow: hidden;
  height: 100%;
  width: 95%;
}

#title-text {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 80px;
  color: black;
  font-family: "CallingAngelsPersonalUse";
  text-shadow: 4px 6px 12px #fff;
}

#date-text {
  margin-top: -20px;
  margin-bottom: 0px;
  font-size: 45px;
  color: black;
  font-family: "Strawberry_Whipped_Cream";
  text-shadow: 2px 4px 6px #fff;
}

#title-row {
  margin-bottom: 40px;
}

#title-text-small {
  background:inherit;
  margin-top: 10px;
  margin-bottom: -15px;
  font-size: 12vw;
  color: black;
  font-family: "CallingAngelsPersonalUse";
  text-shadow: 4px 6px 12px #fff;
}

#date-text-small {
  background:inherit;
  margin-top: 0px;
  margin-bottom: -15px;
  font-size: 10vw;
  color: black;
  font-family: "Strawberry_Whipped_Cream";
  text-shadow: 2px 4px 6px #fff;
}

#title-row-small {
  right: 0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

#title-container-small {
  background:inherit;
  width: 100%;
}

@media screen and (max-width: 479px) {
  #card-row {
    top: 147px;
    position: relative;
    overflow: scroll;
    height: 100%;
    padding-bottom: 200px;
  }
  #card-title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 480px){
  #card-row {
    top: 50px;
    position: relative;
    overflow: hidden;
  }
  #card-title {
    font-size: 35px;
  }
}

@media only screen and (min-width: 1200px){
  #card-row {
    top: 10px;
    position: relative;
    overflow: hidden;
  }
  #card-title {
    font-size: 35px;
  }
}

#modal-title {
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Strawberry_Whipped_Cream";
  font-size: 4vw;
}

#modal-text {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "OpenSans-Regular";
  font-size: 4vw;
}

#card-title {
  font-family: "Strawberry_Whipped_Cream";
  left: -10px;
  bottom: -20px;
}

#button {
  font-family: "OpenSans-Regular";
  margin-top: 10px;
  margin-bottom: -15px;
}

#map {
  width: 100%;
  height: 400px;
}

#map-image {
  width: 100%;
  height: auto;
}

#map-image-text {
  text-align: center;
  margin-top: 10px;
  font-family: "OpenSans-Regular";
}

#confetti-link {
  margin-top: 10px;
  margin-left: 10px;
  font-family: "OpenSans-Regular";
}

.modal {
  position: fixed;
  left:0;
  right:0;
  max-height:80%;
  height: 80%;
  width: 99%;
  margin: auto;
}

.modal-content {
  height:90%;
  padding:0;
  overflow: auto;
}

.modal-footer {
  bottom: 0px;
  overflow-y: scroll;

}
