<div id="main-container" class="container">
  <div class="row">
    <div class="container center">
      <div class="show-on-medium-and-up hide-on-small-only">
        <p id="title-text">Scott and Viki</p>
        <p id="date-text">23/06/18</p>
        <a id="button" class="black waves-effect waves-light btn" href="mailto:scottandviki@gmail.com?subject=Wedding%20R.S.V.P"><i class="material-icons right">email</i>R.S.V.P</a>
      </div>
    </div>
  </div>
  <div id="title-row-small" class="row">
    <div class="container center">
      <div class="show-on-small-only hide-on-med-and-up">
        <p id="title-text-small">Scott and Viki</p>
        <p id="date-text-small">23/06/18</p>
        <a id="button" class="black waves-effect waves-light btn" href="mailto:scottandviki@gmail.com?subject=Wedding%20R.S.V.P"><i class="material-icons right">email</i>R.S.V.P</a>
      </div>
    </div>
  </div>
  <div id="card-row" class="row">
    <div class="col s12 m6 l4">
      <a href="#" onclick="$('#agenda-modal').modal('open');">
        <div class="card">
        <div class="card-image">
          <img src="./assets/SVSunset.jpg">
          <span id="card-title" class="card-title">Agenda</span>
        </div>
      </div>
      </a>
    </div>
    <!-- Map Card -->
    <div class="col s12 m6 l4">
      <a href="#" onclick="$('#map-modal').modal('open');">
        <div class="card">
        <div class="card-image">
          <img src="./assets/1.jpg">
          <span id="card-title" class="card-title">Map</span>
        </div>
      </div>
      </a>
    </div>
    <!-- Confetti Card -->
    <div class="col s12 m6 l4">
      <a href="#" onclick="$('#confetti-modal').modal('open');">
        <div class="card">
        <div class="card-image">
          <img src="./assets/2.jpg">
          <span id="card-title" class="card-title">Confetti</span>
        </div>
      </div>
      </a>
    </div>
    <!-- Hotels & Taxi's Card -->
    <div class="col s12 m6 l4">
      <a href="#" onclick="$('#hotel-modal').modal('open');">
        <div class="card">
        <div class="card-image">
          <img src="./assets/4.jpg">
          <span id="card-title" class="card-title">Hotels & Taxi's</span>
        </div>
      </div>
      </a>
    </div>
    <!-- Children Card -->
    <div class="col s12 m6 l4">
      <a href="#" onclick="$('#children-modal').modal('open');">
        <div class="card">
        <div class="card-image">
          <img src="./assets/5.jpg">
          <span id="card-title" class="card-title">Children</span>
        </div>
      </div>
      </a>
    </div>
    <!-- Camping Card -->
    <div class="col s12 m6 l4">
      <a href="#" onclick="$('#camping-modal').modal('open');">
        <div class="card">
        <div class="card-image">
          <img src="./assets/6.jpg">
          <span id="card-title" class="card-title">Camping</span>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>
<!-- Agenda Modal -->
<div id="agenda-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 id="modal-title">Agenda For The Day</h4>
    <p id="modal-text">A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
<!-- Map Modal -->
<div id="map-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 id="modal-title">Map of the area and directions</h4>
    <p id="modal-text">A bunch of text</p>
    <div class="container center">
      <iframe id="map" class="center" src="https://www.google.com/maps/d/u/0/embed?mid=1T1AFckKqP4J38fIJswg8uEr42hyB3R5y" allowfullscreen></iframe>
    </div>
      <a id="close-modal-button" class="right waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
<!-- Confetti Modal -->
<div id="confetti-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 id="modal-title">D.I.Y some eco friendly confetti</h4>
    <p id="modal-text">A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
<!-- Hotel Modal -->
<div id="hotel-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 id="modal-title">A List of nearby Hotels and Taxi Rank Numbers</h4>
    <p id="modal-text">A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
<!-- Children Modal -->
<div id="children-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 id="modal-title">What to do with your god damn kids</h4>
    <p id="modal-text">A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
<!-- Camping Modal -->
<div id="camping-modal" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4 id="modal-title">Fancy Camping in the farm?</h4>
    <p id="modal-text">A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
  </div>
</div>
