@font-face {
  font-family: 'Strawberry_Whipped_Cream';
  src: url('./assets/fonts/Strawberry_Whipped_Cream.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Strawberry_Whipped_Cream.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/Strawberry_Whipped_Cream.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/Strawberry_Whipped_Cream.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/Strawberry_Whipped_Cream.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/Strawberry_Whipped_Cream.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'CallingAngelsPersonalUse';
  src: url('./assets/fonts/CallingAngelsPersonalUse.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/CallingAngelsPersonalUse.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/CallingAngelsPersonalUse.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/CallingAngelsPersonalUse.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/CallingAngelsPersonalUse.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/CallingAngelsPersonalUse.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./assets/fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/OpenSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'DancingScript-Regular';
  src: url('./assets/fonts/DancingScript-Regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/DancingScript-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/DancingScript-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/DancingScript-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('./assets/fonts/DancingScript-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/DancingScript-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@media print {
  html, body * {
    visibility: hidden;
  }
}

html {
    background-color: #DBD1E3;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
  background-image: url("./assets/BG.png");
  background-size: 100% auto;
  background-position: left top;
  background-attachment: fixed;
  margin-top: 0;
  width:100%;
  position: absolute;
  min-height: 100%;
  height: 100%;
  margin: 0;
}
