@font-face {
  font-family: "StrawberryWhippedCream";
  src: url("./assets/fonts/StrawberryWhippedCream.ttf");
}
@font-face {
  font-family: "CallingAngels";
  src: url("./assets/fonts/CallingAngels.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

html {
    background-color: #DBD1E3;
    margin: 0;
}

body {
  background-image: url("./assets/BG.png");
  background-size: 100% auto;
  background-repeat: repeat-y;
  background-position: left top;
  margin-top: 0;
  width:100%;
  position: absolute;
  min-height: 100%;
  margin: 0;
}
